{% extends "page.html" %}
{% load i18n staticfiles blog xmpp_software_overview %}

{% block title %}{% trans "Clients" %}{% endblock title %}

{% block pagecss %}
<link href="{% static 'xmpp_software_overview/xmpp_software_overview.css' %}" rel="stylesheet">
{% endblock %}

{% block pagejs %}
<script src="{% static 'xmpp_software_overview/xmpp_software_overview.js' %}"></script>
{% endblock %}

{% block content %}
<p>{% blocktrans %}Jabber/XMPP is an open protocol and anyone may develop a client for it. This
means there are many different clients to connect to jabber.at.{% endblocktrans %}</p>
<h2>{% trans "So what's the best client?" %}</h2>
<p>{% trans "Here is what we have found works best:" %}</p>
<ul>
  <li>Android: <a href="https://conversations.im/">Conversations</a> (&euro; 2,39 on <a href="https://play.google.com/store/apps/details?id=eu.siacs.conversations">Google Play</a>)</li>
  <li>iOS (iPhone): <a href="https://chatsecure.org/">ChatSecure</a> (in the <a href="https://itunes.apple.com/us/app/chatsecure/id464200063">App Store</a>)</li>
  <li>Linux: <a href="https://gajim.org/">Gajim</a></li>
  <li>Linux (console): <a href="https://mcabber.com/">mcabber</a> or <a href="http://profanity.im/">Profanity</a></li>
  <li>macOS (Mac OS X): <a href="https://adium.im/">Adium</a></li>
  <li>Web (in the Browser): <a href="https://conversejs.org/">Converse.js</a></li>
  <li>Windows: <a href="https://gajim.org/">Gajim</a></li>
</ul>
<h2>{% trans "Can you be more specific?" %}</h2>
<p>{% trans "Sure we can:" %}</p>

<form class="form-horizontal"><div class="form-group">
  <label class="control-label col-sm-4 col-md-3" for="id_os">{% trans "Operating System" %}</label>
  <div class="col-sm-8 col-md-9">
    <select id="os-selector" name="os" class="form-control">
      <option value="any">{% trans "Any operating system" %}</option>
      <option value="android" {% if os == "android" %} selected{% endif %}>{% trans "Android" %}</option>
      <option value="browser" {% if os == "browser" %} selected{% endif %}>{% trans "Browser" %}</option>
      <option value="ios" {% if os == "ios" %} selected{% endif %}>{% trans "iOS (iPhone/iPad)" %}</option>
      <option value="linux" {% if os == "linux" %} selected{% endif %}>{% trans "Linux" %}</option>
      <option value="console">{% trans "Linux (console)" %}</option>
      <option value="osx" {% if os == "osx" %} selected{% endif %}>{% trans "macOS X (Apple Desktop)" %}</option>
      <option value="win" {% if os == "win" %} selected{% endif %}>{% trans "Windows" %}</option>
    </select>
  </div>
</div></form>

<div class="table-responsive">
<table class="table table-bordered table-hover text-center xmpp-software-overview-table">
  <thead>
    <tr>
      <th rowspan="2">{% trans "Client" %}</th>
      <th id="xep-header" title="XEP - XMPP Enhancement Proposal" colspan="{% if os_mobile %}9{% else %}7{% endif %}">XEPs</th>
      <th rowspan="2">{% trans "Notes" %}</th>
    </tr>
    <tr>
      <th><a title="XEP-0027: Current Jabber OpenPGP Usage" href="http://xmpp.org/extensions/xep-0027.html">0027</a></th>
      <th><a title="XEP-0167: Jingle RTP Sessions" href="http://xmpp.org/extensions/xep-0167.html">0167</a></th>
      <th><a title="XEP-0198: Stream Management" href="https://xmpp.org/extensions/xep-0198.html">0198</a></th>
      <th><a title="XEP-0280: Message Carbons" href="https://xmpp.org/extensions/xep-0280.html">0280</a></th>
      <th><a title="XEP-0313: Message Archive Management" href="https://xmpp.org/extensions/xep-0313.html">0313</a></th>
      <th {% os_attrs "mobile" %}><a title="XEP-0352: Client State Indication" href="https://xmpp.org/extensions/xep-0352.html">0352</a></th>
      <th {% os_attrs "mobile" %}><a title="XEP-0357: Push Notifications" href="https://xmpp.org/extensions/xep-0357.html">0357</a></th>
      <th><a title="XEP-0363: HTTP File Upload" href="https://xmpp.org/extensions/xep-0363.html">0363</a></th>
      <th><a title="XEP-0384: OMEMO Encryption" href="https://xmpp.org/extensions/xep-0384.html">0384</a></th>
    </tr>
  </thead>
  <tbody>
    <tr {% os_attrs "osx" %}>
      <td><a title="Adium - client for MacOS X" href="https://adium.im/">Adium</a></td>
      <td>{% unknown %}</td>
      <td>{% no %}</td>
      <td>{% unknown %}</td>
      <td>{% yes %}</td>
      <td>{% unknown %}</td>
      <td {% os_attrs "mobile" %}>{% unknown %}</td>
      <td {% os_attrs "mobile" %}>{% unknown %}</td>
      <td>{% unknown %}</td>
      <td>{% no %}</td>
      <td></td>
    </tr>
    <tr {% os_attrs "ios" %}>
      <td><a title="ChatSecure - client for iOS" href="https://chatsecure.org/">ChatSecure</a><span data-toggle="tooltip" title="Version 4.1.0"></span></td>
      <td>{% no %}</td>
      <td>{% no %}</td>
      <td>{% yes %}</td>
      <td>{% yes %}</td>
      <td>{% no %}</td>
      <td {% os_attrs "mobile" %}>{% yes %}</td>
      <td {% os_attrs "mobile" %}>{% yes %}</td>
      <td>{% yes %}</td>
      <td>{% yes %}</td>
      <td>On the <a title="ChatSecure on the App Store" href="https://itunes.apple.com/us/app/chatsecure/id464200063">App Store</a></td>
    </tr>
    <tr {% os_attrs "android" %}>
      <td><a title="Conversations - client for Android" href="https://conversations.im/">Conversations</a><span data-toggle="tooltip" title="Version 1.17.0"></span></td>
      <td>{% yes %}</td>
      <td>{% no %}</td>
      <td>{% yes %}</td>
      <td>{% yes %}</td>
      <td>{% yes %}</td>
      <td {% os_attrs "mobile" %}>{% yes %}</td>
      <td {% os_attrs "mobile" %}>{% yes %}</td>
      <td>{% yes %}</td>
      <td>{% yes %}</td>
      <td>On <a title="Conversations on Google Play" href="https://play.google.com/store/apps/details?id=eu.siacs.conversations&amp;referrer=utm_source%3Dwebsite">Google Play</a> (&euro; 2,39)</td>
    </tr>
    <tr {% os_attrs "browser" %}>
      <td><a title="Converse.js - browser-based client" href="https://conversejs.org/">Converse.js</a><span data-toggle="tooltip" title="version 3.0.2"></span></td>
      <td>{% no %}</td>
      <td>{% no %}</td>
      <td>{% no %}</td>
      <td>{% yes %}</td>
      <td>{% yes %}</td>
      <td {% os_attrs "mobile" %}>{% yes %}</td>
      <td {% os_attrs "mobile" %}>{% unknown %}</td>
      <td>{% no %}</td>
      <td>{% no %}</td>
      <td></td>
    </tr>
    <tr {% os_attrs "linux" "win" %}>
      <td><a title="Gajim - client for Windows &amp; Linux" href="https://gajim.org/">Gajim</a><span data-toggle="tooltip" title="version 0.16.8"></span></td>
      <td>{% no %}</td>
      <td>{% no %}</td>
      <td>{% yes %}</td>
      <td>{% yes %}</td>
      <td>{% yes %}</td>
      <td {% os_attrs "mobile" %}>{% no %}</td>
      <td {% os_attrs "mobile" %}>{% no %}</td>
      <td>
        {% yes _("With &lt;a href=&quot;https://dev.gajim.org/gajim/gajim-plugins/wikis/HttpUploadPlugin&quot; title=&quot;HTTP Upload plugin for Gajim&quot;&gt;plugin&lt;/a&gt;") %}
      </td>
      <td>
        {% yes _("With &lt;a href=&quot;https://dev.gajim.org/gajim/gajim-plugins/wikis/OmemoGajimPlugin&quot;&gt;plugin&lt;/a&gt;") %}
      </td>
      <td>
        {% page 4 text="Debian/Ubuntu repositories" %}
      </td>
    </tr>
    <tr {% os_attrs "osx" "linux" "win" %}>
      <td><a title="Jitsi - client for Windows, MacOS X &amp; Linux" href="https://jitsi.org/">Jitsi</a><span data-toggle="tooltip" title="version 2.10"></span></td>
      <td>{% no %}</td>
      <td>{% yes %}</td>
      <td>{% no %}</td>
      <td>{% yes %}</td>
      <td>{% no %}</td>
      <td {% os_attrs "mobile" %}>{% no %}</td>
      <td {% os_attrs "mobile" %}>{% no %}</td>
      <td>{% no %}</td>
      <td>{% no %}</td>
      <td></td>
    </tr>
    <tr {% os_attrs "browser" %}>
      <td><a title="JSXC - browser-based client" href="https://www.jsxc.org/">JSXC</a><span data-toggle="tooltip" title="version 3.0.1"></span></td>
      <td>{% no %}</td>
      <td>{% no %}</td>
      <td>{% no %}</td>
      <td>{% yes %}</td>
      <td>{% no %}</td>
      <td {% os_attrs "mobile" %}>{% no %}</td>
      <td {% os_attrs "mobile" %}>{% no %}</td>
      <td>{% yes %}</td>
      <td>{% no %}</td>
      <td></td>
    </tr>
    <tr {% os_attrs "linux console" %}>
      <td><a title="mcabber - console-based client" href="https://mcabber.com/">mcabber</a><span data-toggle="tooltip" title="version 1.0.5"></span></td>
      <td>{% yes %}</td>
      <td>{% no %}</td>
      <td>{% no %}</td>
      <td>{% yes %}</td>
      <td>{% no %}</td>
      <td {% os_attrs "mobile" %}>{% no %}</td>
      <td {% os_attrs "mobile" %}>{% no %}</td>
      <td>{% no %}</td>
      <td>{% no %}</td>
      <td>
        {% page 12 text="Usage instructions" %}, {% page 4 text="Debian/Ubuntu repositories" %}
      </td>
    </tr>
    <tr {% os_attrs "osx" "ios" %}>
      <td><a title="Monal - client for MacOS X and iOS" href="https://monal.im/">Monal</a><span data-toggle="tooltip" title="version 2.9.2"></span></td>
      <td>{% unknown %}</td>
      <td>{% no %}</td>
      <td>{% yes %}</td>
      <td>{% yes %}</td>
      <td>{% yes %}</td>
      <td {% os_attrs "mobile" %}>{% yes %}</td>
      <td {% os_attrs "mobile" %}>{% no %}</td>
      <td>{% yes %}</td>
      <td>{% no %}</td>
      <td></td>
    </tr>
    <tr {% os_attrs "linux" "win" %}>
      <td><a title="Pidgin - client for Windows and Linux" href="https://pidgin.im/">Pidgin</a></td>
      <td>
        {% yes _("With &lt;a href=&quot;https://github.com/segler-alex/Pidgin-GPG&quot; title=&quot;GPG plugin for Pidgin&quot;&gt;plugin&lt;/a&gt;") %}
      </td>
      <td>{% yes %}</td>
      <td>{% no %}</td>
      <td>
        {% yes _("With &lt;a href=&quot;https://github.com/gkdr/carbons&quot;&gt;Plugin&lt;/a&gt;") %}
      </td>
      <td>{% no %}</td>
      <td {% os_attrs "mobile" %}>{% unknown %}</td>
      <td {% os_attrs "mobile" %}>{% unknown %}</td>
      <td>{% unknown %}</td>
      <td>
        {% yes _("With &lt;a href=&quot;https://github.com/gkdr/lurch&quot;&gt;Plugin&lt;/a&gt;") %}
      </td>
      <td></td>
    </tr>
    <tr {% os_attrs "linux" "console" %}>
      <td><a title="poezio - console-based client" href="https://poez.io/">poezio</a><span data-toggle="tooltip" title="version 0.11"></span></td>
      <td>{% yes %}</td>
      <td>{% no %}</td>
      <td>{% yes %}</td>
      <td>{% yes %}</td>
      <td>{% no %}</td>
      <td {% os_attrs "mobile" %}>{% yes %}</td>
      <td {% os_attrs "mobile" %}>{% no %}</td>
      <td>{% no %}</td>
      <td>{% no %}</td>
      <td>
        {% page 4 text="Debian/Ubuntu repositories" %}
      </td>
    </tr>
    <tr {% os_attrs "linux" "console" %}>
      <td><a title="Profanity - console-based client" href="http://profanity.im/">Profanity</a><span data-toggle="tooltip" title="version 0.5.1"></span></td>
      <td>{% yes %}</td>
      <td>{% no %}</td>
      <td>{% no %}</td>
      <td>{% yes %}</td>
      <td>{% no %}</td>
      <td {% os_attrs "mobile" %}>{% no %}</td>
      <td {% os_attrs "mobile" %}>{% no %}</td>
      <td>{% yes %}</td>
      <td>{% yes _("With &lt;a href=&quot;https://github.com/ReneVolution/profanity-omemo-plugin&quot;&gt;plugin&lt;/a&gt;") %}</td>
      <td>
        {% page 14 text="Usage instructions" %}, {% page 4 text="Debian/Ubuntu repositories" %}
      </td>
    </tr>
    <tr {% os_attrs "osx" "linux" "win" %}>
      <td><a title="Swift - client for Windows, MacOS X and Linux" href="https://swift.im/swift.html">Swift</a></td>
      <td>{% no %}</td>
      <td>{% no %}</td>
      <td>{% yes %}</td>
      <td>{% yes %}</td>
      <td>{% no %}</td>
      <td {% os_attrs "mobile" %}>{% no %}</td>
      <td {% os_attrs "mobile" %}>{% no %}</td>
      <td>{% no %}</td>
      <td>{% no %}</td>
      <td></td>
    </tr>
    <tr {% os_attrs "android" %}>
      <td><a title="Xabber - client for Android" href="https://www.xabber.com/">Xabber</a><span data-toggle="tooltip" title="version 2.0.1"></span></td>
      <td>{% no %}</td>
      <td>{% no %}</td>
      <td>{% yes %}</td>
      <td>{% yes %}</td>
      <td>{% yes %}</td>
      <td {% os_attrs "mobile" %}>{% yes %}</td>
      <td {% os_attrs "mobile" %}>{% no %}</td>
      <td>{% yes %}</td>
      <td>{% no %}</td>
      <td>On <a title="Xabber on Google Play" href="https://play.google.com/store/apps/details?id=com.xabber.android.beta">Google Play</a></td>
    </tr>
    <tr {% os_attrs "android" %}>
      <td><a title="yaxim - client for Android" href="https://yaxim.org/">yaxim</a><span data-toggle="tooltip" title="version 0.9.0"></span></td>
      <td>{% no %}</td>
      <td>{% no %}</td>
      <td>{% yes %}</td>
      <td>{% yes %}</td>
      <td>{% no %}</td>
      <td {% os_attrs "mobile" %}>{% yes %}</td>
      <td {% os_attrs "mobile" %}>{% no %}</td>
      <td>{% no %}</td>
      <td>{% no %}</td>
      <td>On <a title="yaxim on Google Play" href="https://play.google.com/store/apps/details?id=org.yaxim.androidclient">Google Play</a></td>
    </tr>
    <tr {% os_attrs "android" "ios" %}>
      <td><a title="Zom - Client for iOS and Android" href="https://zom.im/">Zom</a></td>
      <td>{% no %}</td>
      <td>{% no %}</td>
      <td>{% unknown %}</td>
      <td>{% unknown %}</td>
      <td>{% unknown %}</td>
      <td {% os_attrs "mobile" %}>{% unknown %}</td>
      <td {% os_attrs "mobile" %}>{% unknown %}</td>
      <td>{% unknown %}</td>
      <td>{% no %}</td>
      <td>On <a title="Zom on Google Play" href="https://play.google.com/store/apps/details?id=im.zom.messenger">Google Play</a>, on the <a title="Zom on the App Store" href="https://itunes.apple.com/us/app/zom-mobile-messenger/id1059530167?mt=8">App Store</a></td>
    </tr>
  </tbody>
</table>
</div>

<div class="alert alert-info client-contact">Feel information on this page is missing or out of date? Please just <a href="{% url "core:contact" %}">contact us</a>.</div>
<p>You can also find other lists of clients on <a href="http://xmpp.org/software/clients.shtml">xmpp.org</a>, <a href="http://en.wikipedia.org/wiki/List_of_XMPP_client_software">Wikipedia</a>, on <a href="https://www.zash.se/xmpp-clients.html">zash.se</a>, or, in French, at <a href="https://wiki.jabberfr.org/Clients">jabberfr.org</a>.</p>

{% endblock content %}
