{% extends "page.html" %}
{% load i18n staticfiles blog xmpp_software_overview %}

{% block title %}{% trans "Jabber/XMPP Clients" %}{% endblock title %}

{% block pagecss %}
<link href="{% static 'xmpp_software_overview/xmpp_software_overview.css' %}" rel="stylesheet">
{% endblock %}

{% block pagejs %}
<script src="{% static 'xmpp_software_overview/xmpp_software_overview.js' %}"></script>
{% endblock %}


{% block content %}
<p>{% blocktrans %}Jabber/XMPP is an open protocol and anyone may develop a client for it.
This means there are many different clients to connect to jabber.at.{% endblocktrans %}</p>
<h2>{% trans "So what's the best client?" %}</h2>
<p>{% trans "Here is what we have found works best:" %}</p>
<ul>
  <li>Android: <a href="https://conversations.im/">Conversations</a> {% trans '(€ 2,39 on <a href="https://play.google.com/store/apps/details?id=eu.siacs.conversations">Google Play</a>)' %}</li>
  <li>iOS (iPhone): <a href="https://chatsecure.org/">ChatSecure</a> {% trans '(in the <a href="https://itunes.apple.com/us/app/chatsecure/id464200063">App Store</a>)' %}</li>
  <li>Linux: <a href="https://gajim.org/">Gajim</a></li>
  <li>Linux (console): <a href="https://mcabber.com/">mcabber</a> {% trans "or" %} <a href="http://profanity.im/">Profanity</a></li>
  <li>macOS (Mac OS X): <a href="https://adium.im/">Adium</a></li>
  <li>Web {% trans "(in the Browser)" %}: <a href="https://conversejs.org/">Converse.js</a></li>
  <li>Windows: <a href="https://gajim.org/">Gajim</a></li>
</ul>
<h2>{% trans "Can you be more specific?" %}</h2>
<p>{% trans "Sure we can:" %}</p>

<form class="form-horizontal"><div class="form-group">
  <label class="control-label col-sm-4 col-md-3" for="id_os">{% trans "Operating System" %}</label>
  <div class="col-sm-8 col-md-9">
    <select id="os-selector" name="os" class="form-control">
      <option value="any">{% trans "Any operating system" %}</option>
      <option value="android" {% if os == "android" %} selected{% endif %}>{% trans "Android" %}</option>
      <option value="browser" {% if os == "browser" %} selected{% endif %}>{% trans "Browser" %}</option>
      <option value="ios" {% if os == "ios" %} selected{% endif %}>{% trans "iOS (iPhone/iPad)" %}</option>
      <option value="linux" {% if os == "linux" %} selected{% endif %}>{% trans "Linux" %}</option>
      <option value="console">{% trans "Linux (console)" %}</option>
      <option value="osx" {% if os == "osx" %} selected{% endif %}>{% trans "macOS X (Apple Desktop)" %}</option>
      <option value="win" {% if os == "win" %} selected{% endif %}>{% trans "Windows" %}</option>
    </select>
  </div>
</div></form>

{% comment %}
General sources:

* https://www.zash.se/xmpp-clients.html
* https://omemo.top/
{% endcomment %}

<div class="table-responsive">
<table class="table table-bordered table-hover text-center xmpp-software-overview-table">
  <thead>
    <tr>
      <th rowspan="2">{% trans "Client" %}</th>
      <th id="xep-header" title="XEP - XMPP Enhancement Proposal" colspan="{% if os_mobile %}10{% else %}8{% endif %}">XEPs</th>
      <th rowspan="2">{% trans "Notes" %}</th>
    </tr>
    <tr>
      <th><a title="XEP-0027: Current Jabber OpenPGP Usage" href="http://xmpp.org/extensions/xep-0027.html">0027</a></th>
      <th><a title="XEP-0167: Jingle RTP Sessions" href="http://xmpp.org/extensions/xep-0167.html">0167</a></th>
      <th><a title="XEP-0198: Stream Management" href="https://xmpp.org/extensions/xep-0198.html">0198</a></th>
      <th><a title="XEP-0280: Message Carbons" href="https://xmpp.org/extensions/xep-0280.html">0280</a></th>
      <th><a title="XEP-0313: Message Archive Management" href="https://xmpp.org/extensions/xep-0313.html">0313</a></th>
      <th {% os_attrs "mobile" %}><a title="XEP-0352: Client State Indication" href="https://xmpp.org/extensions/xep-0352.html">0352</a></th>
      <th {% os_attrs "mobile" %}><a title="XEP-0357: Push Notifications" href="https://xmpp.org/extensions/xep-0357.html">0357</a></th>
      <th><a title="XEP-0363: HTTP File Upload" href="https://xmpp.org/extensions/xep-0363.html">0363</a></th>
      <th><a title="XEP-0368: SRV records for XMPP over TLS" href="https://xmpp.org/extensions/xep-0368.html">0368</a></th>
      <th><a title="XEP-0384: OMEMO Encryption" href="https://xmpp.org/extensions/xep-0384.html">0384</a></th>
    </tr>
  </thead>
  <tbody>
    <tr {% os_attrs "osx" %}>
      <td><a title="Adium - client for MacOS X" href="https://adium.im/">Adium</a></td>
      <td class="xep-0027">{% unknown %}</td>
      <td>{% no %}</td>
      <td>{% unknown %}</td>
      <td class="xep-0280">{% yes plugin="https://github.com/shtrom/Lurch4Adium" %}</td>
      <td>{% unknown %}</td>
      <td {% os_attrs "mobile" %}>{% unknown %}</td>
      <td {% os_attrs "mobile" %}>{% unknown %}</td>
      <td class="xep-0363">{% unknown %}</td>
      <td class="xep-0368">{% no %}</td>
      <td class="xep-0384">{% yes plugin="https://github.com/shtrom/Lurch4Adium" %}</td>
      <td></td>
    </tr>
    <tr {% os_attrs "ios" %}>
      <td>
        <a title="ChatSecure - client for iOS" href="https://chatsecure.org/">ChatSecure</a>
        <span data-toggle="tooltip" title="Version 4.3.0"></span>
      </td>
      <td class="xep-0027">{% no %}</td>  {# https://github.com/ChatSecure/ChatSecure-iOS/issues/382 #}
      <td>{% no %}</td>
      <td class="xep-0198">{% yes %}</td>  {# since 4.0.1: https://github.com/ChatSecure/ChatSecure-iOS/releases/tag/v4.0.1 #}
      <td class="xep-0280">{% yes %}</td>  {# since 4.0.1: https://github.com/ChatSecure/ChatSecure-iOS/releases/tag/v4.0.1 #}
      <td class="xep-0313">{% yes %}</td>  {# since 4.3.0: https://github.com/ChatSecure/ChatSecure-iOS/releases/tag/v4.3.0 #}
      <td {% os_attrs "mobile" cls="xep-0352" %}>{% yes %}</td>  {# since 3.2.3: https://github.com/ChatSecure/ChatSecure-iOS/releases/tag/v3.2.3 #}
      <td {% os_attrs "mobile" cls="xep-0357"%}>{% yes %}</td>  {# https://chatsecure.org/blog/chatsecure-v323-xmpp-push/ #}
      <td class="xep-0363">{% yes %}</td>  {# https://github.com/ChatSecure/ChatSecure-iOS/issues/681 #}
      <td class="xep-0368">{% no %}</td>  {# https://github.com/ChatSecure/ChatSecure-iOS/issues/893 #}
      <td class="xep-0384">{% yes %}</td>  {# https://github.com/ChatSecure/ChatSecure-iOS/issues/376 #}
      <td>{% blocktrans with name="ChatSecure" url="https://itunes.apple.com/us/app/chatsecure/id464200063" %}On the <a title="{{ name }} on the App Store" href="{{ url }}">App Store</a>{% endblocktrans %}</td>
    </tr>
    <tr {% os_attrs "android" %}>
      <td>
        <a title="Conversations - client for Android" href="https://conversations.im/">Conversations</a>
        <span data-toggle="tooltip" title="Version 2.2.0"></span>
      </td>
      {# https://github.com/siacs/Conversations/blob/master/docs/XEPs.md #}
      <td>{% yes %}</td>
      <td>{% no %}</td>
      <td>{% yes %}</td>
      <td>{% yes %}</td>
      <td>{% yes %}</td>
      <td {% os_attrs "mobile" %}>{% yes %}</td>
      <td {% os_attrs "mobile" %}>{% yes %}</td>
      <td>{% yes %}</td>
      <td class="xep-0368">{% yes %}</td>
      <td>{% yes %}</td>
      <td>{% blocktrans with name="Conversations" url="https://play.google.com/store/apps/details?id=eu.siacs.conversations&amp;referrer=utm_source%3Dwebsite" %}On <a title="{{ name }} on Google Play" href="{{ url }}">Google Play</a>{% endblocktrans %} (€ 2,39)</td>
    </tr>
    <tr {% os_attrs "browser" %}>
      {# https://github.com/jcbrand/converse.js/blob/master/README.md#features #}
      <td>
        <a title="Converse.js - browser-based client" href="https://conversejs.org/">Converse.js</a>
        <span data-toggle="tooltip" title="version 3.3.2"></span></td>
      <td>{% no %}</td>
      <td>{% no %}</td>
      <td class="xep-0198">{% yes %}</td> {# https://github.com/jcbrand/converse.js/issues/316 #}
      <td class="xep-0280">{% yes %}</td>
      <td class="xep-0313">{% yes %}</td>
      <td {% os_attrs "mobile" cls="xep-0352"%}>{% yes %}</td>
      <td {% os_attrs "mobile" %}>{% unknown %}</td>
      <td class="xep-0363">{% no %}</td>  {# https://github.com/jcbrand/converse.js/issues/161, will be in 4.0 #}
      <td class="xep-0368">{% no %}</td>
      <td>{% no %}</td>  {# https://github.com/jcbrand/converse.js/issues/497 #}
      <td></td>
    </tr>
    <tr {% os_attrs "linux" "win" %}>
      {# https://dev.gajim.org/gajim/gajim/wikis/help/GajimXEPSupport #}
      <td>
        <a title="Gajim - client for Windows &amp; Linux" href="https://gajim.org/">Gajim</a>
        <span data-toggle="tooltip" title="version 1.0.2"></span></td>
      <td>{% yes %}</td>
      <td>{% no %}</td>
      <td>{% yes %}</td>
      <td>{% yes %}</td>
      <td>{% yes %}</td>
      <td {% os_attrs "mobile" %}>{% no %}</td>
      <td {% os_attrs "mobile" %}>{% no %}</td>
      <td>
        {% yes plugin="https://dev.gajim.org/gajim/gajim-plugins/wikis/HttpUploadPlugin" %}
      </td>
      <td class="xep-0368">{% yes %}</td>
      <td class="xep-0384">
        {% yes plugin="https://dev.gajim.org/gajim/gajim-plugins/wikis/OmemoGajimPlugin" %}
      </td>
      <td>
        {% page 4 text=_("Debian/Ubuntu repositories") %}
      </td>
    </tr>
    <tr {% os_attrs "osx" "linux" "win" %}>
      <td><a title="Jitsi - client for Windows, MacOS X &amp; Linux" href="https://jitsi.org/">Jitsi</a><span data-toggle="tooltip" title="version 2.10"></span></td>
      {# https://github.com/jitsi/jitsi/issues/298 #}
      <td>{% no %}</td>
      <td>{% yes %}</td>
      <td class="xep-0198">{% no %}</td>  {# https://github.com/jitsi/jitsi/issues/300 #}
      <td class="xep-0280">{% yes %}</td>
      <td class="xep-0313">{% no %}</td>  {# https://github.com/jitsi/jitsi/issues/205 #}
      <td {% os_attrs "mobile" %}>{% no %}</td>
      <td {% os_attrs "mobile" %}>{% no %}</td>
      <td>{% no %}</td>
      <td class="xep-0368">{% unknown %}</td>
      <td class="xep-0384">{% no %}</td>  {# https://github.com/jitsi/jitsi/issues/199 #}
      <td></td>
    </tr>
    <tr {% os_attrs "browser" %}>
      <td><a title="JSXC - browser-based client" href="https://www.jsxc.org/">JSXC</a><span data-toggle="tooltip" title="version 3.3.2"></span></td>
      {# https://www.jsxc.org/features.html #}
      <td>{% no %}</td>
      <td>{% no %}</td>
      <td>{% no %}</td>
      <td class="xep-0280">{% yes %}</td>  {# since 1.1.0: https://github.com/jsxc/jsxc/blob/master/CHANGELOG.md#110---2015-01-08 #}
      <td class="xep-0313">{% yes %}</td>  {# since 3.2.0: https://github.com/jsxc/jsxc/blob/master/CHANGELOG.md#320---2017-05-17 #}
      <td {% os_attrs "mobile" %}>{% no %}</td>
      <td {% os_attrs "mobile" %}>{% no %}</td>
      <td class="xep-0363">{% yes %}</td>  {# since 3.1.0: https://github.com/jsxc/jsxc/blob/master/CHANGELOG.md#310---2017-02-14 #}
      <td class="xep-0368">{% no %}</td>
      <td>{% no %}</td>  {# https://github.com/jsxc/jsxc/issues/228 #}
      <td></td>
    </tr>
    <tr {% os_attrs "linux" "console" %}>
      <td><a title="mcabber - console-based client" href="https://mcabber.com/">mcabber</a><span data-toggle="tooltip" title="version 1.1.0"></span></td>
      <td>{% yes %}</td>
      <td>{% no %}</td>
      <td>{% no %}</td>
      <td>{% yes %}</td>
      <td>{% no %}</td>
      <td {% os_attrs "mobile" %}>{% no %}</td>
      <td {% os_attrs "mobile" %}>{% no %}</td>
      <td>{% no %}</td>
      <td class="xep-0368">{% unknown %}</td>
      <td>{% no %}</td>  {# https://bitbucket.org/McKael/mcabber-crew/issues/156/omemo-support #}
      <td>
        {% page 12 text=_("Usage instructions") %}, {% page 4 text=_("Debian/Ubuntu repositories") %}
      </td>
    </tr>
    <tr {% os_attrs "linux" "win" %}>
      <td><a title="Pidgin - client for Windows and Linux" href="https://pidgin.im/">Pidgin</a></td>
      {# Probably outdated: https://developer.pidgin.im/wiki/SupportedXEPs #}
      <td>
        {% yes plugin="https://github.com/segler-alex/Pidgin-GPG" %}
      </td>
      <td>{% yes %}</td>
      <td class="xep-0198">{% no %}</td>  {# https://developer.pidgin.im/ticket/14252 #}
      <td class="xep-0280">
        {% yes plugin="https://github.com/gkdr/carbons" %}
        {# see also: https://developer.pidgin.im/ticket/15508 #}
      </td>
      <td class="xep-0313">{% no %}</td>  {# https://developer.pidgin.im/ticket/15653 #}
      <td {% os_attrs "mobile" %}>{% unknown %}</td>
      <td {% os_attrs "mobile" %}>{% unknown %}</td>
      <td>{% unknown %}</td>
      <td class="xep-0368">{% no %}</td>
      <td>
        {% yes plugin="https://github.com/gkdr/lurch" %}
      </td>
      <td></td>
    </tr>
    <tr {% os_attrs "linux" "console" %}>
      <td>
        <a title="poezio - console-based client" href="https://poez.io/">poezio</a>
        <span data-toggle="tooltip" title="version 0.11"></span>
      </td>
      {# https://doc.poez.io/0.11/dev/xep.html #}
      <td>{% yes %}</td>
      <td class="xep-0167">{% no %}</td>
      <td class="xep-0198">{% yes %}</td>
      <td class="xep-0280">{% yes %}</td>
      <td class="xep-0313">{% no %}</td>
      <td {% os_attrs "mobile" %}>{% yes %}</td>
      <td {% os_attrs "mobile" %}>{% no %}</td>
      <td class="xep-0363">{% no %}</td>
      <td class="xep-0368">{% no %}</td>
      <td class="xep-0384">{% no %}</td>  {# https://dev.louiz.org/issues/3280 #}
      <td>
        {% page 4 text=_("Debian/Ubuntu repositories") %}
      </td>
    </tr>
    <tr {% os_attrs "linux" "console" %}>
      <td><a title="Profanity - console-based client" href="http://profanity.im/">Profanity</a><span data-toggle="tooltip" title="version 0.5.1"></span></td>
      {# http://profanity.im/xeps.html #}
      <td>{% yes %}</td>
      <td>{% no %}</td>
      <td>{% no %}</td>
      <td>{% yes %}</td>
      <td>{% no %}</td>
      <td {% os_attrs "mobile" %}>{% no %}</td>
      <td {% os_attrs "mobile" %}>{% no %}</td>
      <td>{% yes %}</td>
      <td class="xep-0368">{% no %}</td>
      <td>{% yes plugin="https://github.com/ReneVolution/profanity-omemo-plugin" %}</td>
      <td>
        {% page 14 text=_("Usage instructions") %}, {% page 4 text=_("Debian/Ubuntu repositories") %}
      </td>
    </tr>
    <tr {% os_attrs "osx" "linux" "win" %}>
      <td><a title="Swift - client for Windows, MacOS X and Linux" href="https://swift.im/swift.html">Swift</a><span data-toggle="tooltip" title="version 3.0"></span></td>
      <td>{% no %}</td>
      <td>{% no %}</td>
      <td class="xep-0198">{% yes %}</td>  {# https://www.isode.com/products/swift.html #}
      <td>{% yes %}</td>
      <td>{% no %}</td>
      <td {% os_attrs "mobile" %}>{% no %}</td>
      <td {% os_attrs "mobile" %}>{% no %}</td>
      <td>{% no %}</td>
      <td class="xep-0368">{% unknown %}</td>
      <td>{% no %}</td>
      <td></td>
    </tr>
    <tr {% os_attrs "android" %}>
      <td>
        <a title="Xabber - client for Android" href="https://www.xabber.com/">Xabber</a>
        <span data-toggle="tooltip" title="version 2.2"></span>
      </td>
      {# More complete: https://github.com/redsolution/xabber-android/wiki/Xabber-Version-History #}
      <td>{% no %}</td>
      <td>{% no %}</td>
      <td class="xep-0198">{% yes %}</td>
      <td class="xep-0280">{% yes %}</td>  {# since 1.0.3: https://github.com/redsolution/xabber-android/wiki/Xabber-Version-History#103-release-date-2015-05-12 #}
      <td class="xep-0313">{% yes %}</td>
      <td {% os_attrs "mobile" cls="xep-0352"%}>{% yes %}</td>  {# since 1.0.73: https://github.com/redsolution/xabber-android/releases/tag/1.0.73 #}
      <td {% os_attrs "mobile" cls="xep-0357"%}>{% no %}</td>  {# https://github.com/redsolution/xabber-android/issues/529 #}
      <td class="xep-0363">{% yes %}</td>  {# since 1.0.51: https://github.com/redsolution/xabber-android/releases/tag/1.0.51 #}
      <td class="xep-0368">{% no %}</td>
      <td>{% no %}</td>  {# https://github.com/redsolution/xabber-android/issues/540 #}
      <td>{% blocktrans with name="Xabber" url="https://play.google.com/store/apps/details?id=com.xabber.android.beta" %}On <a title="{{ name }} on Google Play" href="{{ url }}">Google Play</a>{% endblocktrans %}</td>
    </tr>
    <tr {% os_attrs "android" %}>
      <td><a title="yaxim - client for Android" href="https://yaxim.org/">yaxim</a><span data-toggle="tooltip" title="version 0.9.2"></span></td>
      {# http://yaxim.org/features/ #}
      <td>{% no %}</td>
      <td>{% no %}</td>
      <td class="xep-0198">{% yes %}</td>
      <td class="xep-0280">{% yes %}</td>
      <td class="xep-0313">{% no %}</td>  {# https://github.com/pfleidi/yaxim/issues/98 #}
      <td {% os_attrs "mobile" %}>{% yes %}</td>
      <td {% os_attrs "mobile" %}>{% no %}</td>
      <td class="xep-0363">{% no %}</td>  {# https://github.com/pfleidi/yaxim/issues/196 #}
      <td class="xep-0368">{% no %}</td>
      <td class="xep-0384">{% no %}</td>  {# https://github.com/pfleidi/yaxim/issues/197 #}
      <td>{% blocktrans with name="yaxim" url="https://play.google.com/store/apps/details?id=org.yaxim.androidclient" %}On <a title="{{ name }} on Google Play" href="{{ url }}">Google Play</a>{% endblocktrans %}</td>
    </tr>
    <tr {% os_attrs "android" "ios" %}>
      <td><a title="Zom - Client for iOS and Android" href="https://zom.im/">Zom</a></td>
      {# https://github.com/zom/Zom-Android/issues/152 #}
      <td>{% no %}</td>
      <td>{% no %}</td>
      <td>{% unknown %}</td>
      <td>{% unknown %}</td>
      <td>{% unknown %}</td>
      <td {% os_attrs "mobile" %}>{% unknown %}</td>
      <td {% os_attrs "mobile" %}>{% unknown %}</td>
      <td class="xep-0363">{% unknown %}</td>  {# https://github.com/zom/Zom-Android/issues/198 #}
      <td class="xep-0368">{% unknown %}</td>
      <td class="xep-0384">{% no %}</td>
      <td>
        {% blocktrans with name="Zom" url="https://play.google.com/store/apps/details?id=im.zom.messenger" %}On <a title="{{ name }} on Google Play" href="{{ url }}">Google Play</a>{% endblocktrans %}, 
        {% blocktrans with name="Zom" url="https://itunes.apple.com/us/app/zom-mobile-messenger/id1059530167?mt=8" %}on the <a title="{{ name }} on the App Store" href="{{ url }}">App Store</a>{% endblocktrans %}</td>
    </tr>
  </tbody>
</table>
</div>

{% url "core:contact" as contact_url %}
<div class="alert alert-info client-contact">
  {% blocktrans with url=contact_url %}Feel information on this page is missing or out of date? Please just <a href="{{ url }}">contact us</a>.{% endblocktrans %}</div>
<p>{% blocktrans %}You can also find other lists of clients on <a
href="http://xmpp.org/software/clients.shtml">xmpp.org</a>, <a href="http://en.wikipedia.org/wiki/List_of_XMPP_client_software">Wikipedia</a>, on <a href="https://www.zash.se/xmpp-clients.html">zash.se</a>, or, in French, at <a href="https://wiki.jabberfr.org/Clients">jabberfr.org</a>.{% endblocktrans %}</p>

{% endblock content %}
